body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

h1 {
    color: #2b2b2b;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

td {
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
}

td:hover {
    background-color: #d3d3d3;
}

#reiniciar {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
}
